body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#player-heart {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}

#left-arrow {
    top: 68%;
    left: 20%;
    position: absolute;
    width: 10%;
    height: 10%;
    z-index: 1;
}

#right-arrow {
    top: 68%;
    right: 20%;
    position: absolute;
    width: 10%;
    height: 10%;
    z-index: 1;
}

#top-arrow {
    top: 10%;
    left: 48%;
    position: absolute;
    width: 5%;
    height: 20%;
    z-index: 1;
}

#shield {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 30px;
    background-color: #472407;
    border-radius: 10px;
    z-index: 2;
    transition: all 0.5s ease;
}

#shield.morphed {
    width: 30px;
    height: 5px;
    border-radius: 10px;
}

.arrow {
    display: none;
}

#display-area1 {
    position: absolute;
    top: 60%;
    left: 15%;
}

#display-area2 {
    position: absolute;
    top: 8%;
    left: 45%;
}

#display-area3 {
    position: absolute;
    top: 60%;
    right: 15%;
}

#game-container {
    width: 90%;
    height: 30%;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #feb603;
    border: 5px solid #472407;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    opacity: 0;
}

#moveleft {
    background-color: #472407;
    border-color: #cd6b02;
    color: #feb603;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 90%;
    left: 25%;
    display: none;
}

#moveright {
    background-color: #472407;
    border-color: #cd6b02;
    color: #feb603;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 90%;
    right: 25%;
    display: none;
}

#question-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 5%;
    padding: 20px;
    background-color: rgba(194, 194, 194, 0.5);
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
}

#question-text {
    font-size: 18px;
    text-align: center;
    color: #000000;
}

#play-attack {
    width: 90%;
    height: 30%;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #feb603;
    border: 5px solid #472407;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    opacity: 0;
}

#playerattack {
    background-color: #ff0000;
    border-color: #920000;
    color: #ff9f9f;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    left: 25%;
}

#playerheal {
    background-color: #00ff08;
    border-color: #00c54c;
    color: #015800;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    right: 25%;
}

#animation {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: 20%;
    position: absolute;
    z-index: 5;
}

#heal {
    position: absolute;
    left: 0;
    top: 0;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    position: absolute;
    animation: moveDot 3s linear forwards;
}

@keyframes moveDot {
    to {
        transform: translateY(-250px);
        opacity: 0;
    }
}
